---
const { Title } = Astro.props;
---

<div class="card dark-section">
    <div class="blur-ball"></div>
    <div class="card-text">
        <h4>{Title}</h4>
        <slot name="ContentCard" />
    </div>
</div>

<style lang="scss">
    .card {
        flex-basis: 45%;
        border-radius: 0;
        height: 260px;

        .card-text {
            position: relative;
            z-index: 2;
            left: 50%;
            top: 50%;
            width: 80%;
            transform: translateX(-50%) translateY(-50%);
         
            h4 {
                color: var(--zion-cc-red);
                font-size: 40px;
            }
        }
    }
</style>