---
import SectionTitles from '../../components/sub_components/SectionTitles.astro';
import ContactLogo from "../../components/logos/ContactLogo.astro";
import CTAButton from "../../components/CTAButton.astro";
---

<section class="zion-section">
    <div class="row">
        <div class="col-12 col-xl-6 zion-image-block order-xl-last">
            <div class="zion-image-container contacto-back"></div>
        </div>
        <div class="col-12 col-xl-6 order-xl-first">
            <div class="content-section-text">
                <div class="contact-logo">
                    <ContactLogo />
                </div>

                <SectionTitles subTitle="Claro que podemos ayudarte" Title="Contáctenos" />

                <p id="contacto">
                    ¿Está interesado en aprender más sobre las soluciones de automatización de Zion Automation? Contáctenos hoy mismo para obtener más información
                </p>
        
                <CTAButton ctaText="Forma de contacto" ctaLink="javascript:void(0);" idTag="launch-contact" />
            </div>
        </div>
    </div>
</section>

<div class="overlay">
    <div class="contact-form">
        <div class="close">&times;</div>
        <div class="row">
            <div class="col">
                <h2>ZION Automation</h2>
                <p>Gracias por interesarse en los servicios que <strong>ZION Automation</strong> tiene para usted. Por favor, complete la siguiente forma para poder darle un seguimiento puntual a su solicitud.</p>
                <div class="form">
                    <form method="post" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="mb-3">
                                    <select class="form-select" id="selSolution" aria-label="Seleccione la solución de su interés" required>
                                        <option selected disabled>Seleccion el tipo de solución de su interés</option>
                                        <option value="Automatización">Automatización</option>
                                        <option value="Moldes">Moldes</option>
                                        <option value="Renta de equipo">Renta de equipo</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="text" id="txtFirstName" class="form-control" placeholder="Nombre" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" id="txtTitle" class="form-control" placeholder="Título" required>
                                </div>
                                <div class="mb-3">
                                    <input type="email" id="txtEmail" class="form-control" placeholder="e-mail" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" id="txtCountry" class="form-control" placeholder="País" required>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="mb-3">
                                    <select class="form-select" id="selMarket" aria-label="Seleccione su sector de mercado" required>
                                        <option selected disabled>Seleccion el sector de mercado</option>
                                        <option value="Automotríz">Automotríz</option>
                                        <option value="Electrónico">Electrónico</option>
                                        <option value="Electrodomésticos">Electrodomésticos</option>
                                        <option value="Suministros elétricos">Suministros elétricos</option>
                                        <option value="Médico">Médico</option>
                                        <option value="Industria alimenticia">Industria alimenticia</option>
                                        <option value="Aeroespacial">Aeroespacial</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="text" id="txtLastName" class="form-control" placeholder="Apellido" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" id="txtCompany" class="form-control" placeholder="Compañía" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" id="txtPhone" class="form-control" placeholder="Teléfono" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" id="txtState" class="form-control" placeholder="Estado/Provincia" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <textarea class="form-control" id="txtMessage" id="exampleFormControlTextarea1" rows="3" placeholder="Comentarios" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <div class="warnings"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col button-container">
                                <button id="SendForm">Enviar Forma</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (() => {
        'use strict'
        const launchContact:any = document.querySelector('#launch-contact');
        const theOverlay:any = document.querySelector('.overlay');
        const closeForm:any = document.querySelector('.close');
        // Aplicando validaciones
        const forms = document.querySelectorAll('.needs-validation');
        const toSend = "/assets/c0nt/contact.php";

        launchContact.addEventListener('click', () => {
            theOverlay.style.display = 'block';

            closeForm.addEventListener('click', () => {
                theOverlay.style.display = 'none';
            });
        });

        const sendEmail = async (_data:any) => {
            const data = await fetch(toSend, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(_data)
            })
            .then(res => {
                console.log('RES: ', res);
            })
            .catch(err => {
                console.log(err);
                throw new Error('Error en servicio, intente más tarde.');
            });
        };

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                prepareData();
            }

            form.classList.add('was-validated')
            }, false)
        });

        const prepareData = () => {
            let _data = {
                solution: (document.querySelector('#selSolution') as HTMLSelectElement).value,
                market: (document.querySelector('#selMarket') as HTMLSelectElement).value,
                fname: (document.querySelector('#txtFirstName') as HTMLInputElement).value,
                lname: (document.querySelector('#txtLastName') as HTMLInputElement).value,
                title: (document.querySelector('#txtTitle') as HTMLInputElement).value,
                company: (document.querySelector('#txtCompany') as HTMLInputElement).value,
                email: (document.querySelector('#txtEmail') as HTMLInputElement).value,
                phone: (document.querySelector('#txtPhone') as HTMLInputElement).value,
                state: (document.querySelector('#txtState') as HTMLInputElement).value,
                country: (document.querySelector('#txtCountry') as HTMLInputElement).value,
                message: (document.querySelector('#txtMessage') as HTMLTextAreaElement).value,
            };

            sendEmail(_data);
        };
        
    })()


</script>

<style lang="scss">
    .contact-logo {
        width: 110px;
        margin-bottom: 40px;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        display: none;
        z-index: 30;

        .contact-form {
            background-color: #b7b7b7;
            max-width: 800px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            padding: 40px;

            @media screen and (width <= 1200px) {
                width: 96%;
                padding: 20px;
            }

            .close {
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 40px;
                color: var(--zion-cc-gray);
                cursor: pointer;
                transition: all 0.4s ease-in-out;

                &:hover {
                    color: var(--zion-cc-red);
                }
            }

            textarea, input {
                background-color: var(--zion-cc-white);
                width: 100%;
                border: 1px solid var(--zion-cc-gray);
            }

            textarea {
                height: 80px;
            }

            .button-container {
                display: flex;
                justify-content: flex-end;
                margin-right: 20px;
                margin-top: 50px;

                button {
                    background-color: var(--zion-cc-red);
                    color: var(--zion-cc-white);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 2px;
                    padding: 8px 20px;
                    position: relative;
                    transition: all ease-in-out 0.3s;
                    border: none;

                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 20px;
                        height: 34px;
                        top: 0;
                        left: -20px;
                        border-left: 10px solid transparent;
                        border-top: 17px solid transparent;
                        border-bottom: 17px solid var(--zion-cc-red);
                        border-right: 10px solid var(--zion-cc-red);
                        transition: all ease-in-out 0.3s;
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 20px;
                        height: 34px;
                        top: 0;
                        right: -20px;
                        border-right: 10px solid transparent;
                        border-bottom: 17px solid transparent;
                        border-top: 17px solid var(--zion-cc-red);
                        border-left: 10px solid var(--zion-cc-red);
                        transition: all ease-in-out 0.3s;
                    }

                    &:hover {
                        background-color: var(--zion-cc-black);
                        
                        &::before {
                            border-bottom-color: var(--zion-cc-black);
                            border-right-color: var(--zion-cc-black);
                        }

                        &::after {
                            border-top-color: var(--zion-cc-black);
                            border-left-color: var(--zion-cc-black);
                        }
                    }
                }
            }
        }
    }
</style>