---
import FooterLogo from '../../components/logos/FooterLogo.astro';
import FBIcon from '../../components/icons/fbIcon.astro';
import YTIcon from '../../components/icons/ytIcon.astro';
import XIcon from '../../components/icons/xIcon.astro';
import INIcon from '../../components/icons/inIcon.astro';
---
<footer>
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col-12 col-xl-2">
                <div class="zion-footer-logo">
                    <FooterLogo />
                </div>
                <p>
                    &copy;{ new Date().getFullYear()  } Todos los derechos reservados,
                    Zion Automation Factory
                </p>
            </div>
            <div class="col-xl-1 d-none d-xl-block">&nbsp;</div>
            <div class="col-12 col-xl-2">
                <a href="/soluciones/celdas-roboticas">Celdas Robóticas</a>
                <ul>
                    <li>Celdas de Ensamblaje</li>
                    <li>Celdas de Paletizaje</li>
                    <li>Celdas de Pintura</li>
                    <li>Celdas de Soldadura</li>
                </ul>

                <a href="/soluciones/manejo-de-materiales">Manejo de Materiales</a>
                <ul>
                    <li>Conveyors</li>
                    <li>Mesas Giratorias</li>
                    <li>Bowl Feeders</li>
                    <li>Pick and Place</li>
                    <li>Gantries</li>
                </ul>

                <a href="/soluciones/control-de-calidad">Control de Calidad</a>
                <ul>
                    <li>Gauges</li>
                    <li>Calibradores</li>
                    <li>Dispositivos para Chequeo y Verificación</li>
                </ul>
            </div>
            <div class="col-12 col-xl-2">
                <a href="/soluciones/estaciones-personalizadas">Estaciones Personalizadas</a>
                <ul>
                    <li>Estaciones de Torque</li>
                    <li>Estaciones de Ensamblaje</li>
                    <li>Estaciones de Ensamble</li>
                    <li>Estaciones de Trabajo</li>
                </ul>

                <a href="/soluciones/maquinados">Maquinados</a>
                <ul>
                    <li>Maquinados de Presición</li>
                    <li>Maquinados Convencionales</li>
                    <li>Dispositivos para Producción</li>
                    <li>Tratamientos Térmicos</li>
                </ul>

                <a href="/soluciones/prensas">Prensas</a>
                <ul>
                    <li>Servoprensas</li>
                    <li>Prensas Pneumáticas</li>
                    <li>Prensas Hidráulicas</li>
                </ul>
            </div>
            <div class="col-12 col-xl-2">
                <a href="/soluciones/trazabilidad">Trazabilidad</a>
                <ul>
                    <li>Escáners</li>
                    <li>Impresoras</li>
                    <li>Micropercusoras</li>
                    <li>Equipos de Manejo Láser</li>
                </ul>

                <a href="/soluciones/sistemas-de-prueba">Sistemas de Prueba</a>
                <ul>
                    <li>Pruebas de Fugas</li>
                    <li>Prueba Eléctrica</li>
                    <li>Prueba HI-POT</li>
                    <li>Sistemas de Visión</li>
                </ul>

                <a href="/soluciones/soluciones-de-ingenieria">Soluciones de Ingeniería</a>
                <ul>
                    <li>Ingeniería de Control y Programación</li>
                    <li>Ingeniería Eléctrica</li>
                    <li>Ingeniería Mecánica</li>
                    <li>Ingeniería Inversa y Desarrollo de Ingeniería</li>
                </ul>
            </div>
            <div class="col-12 col-xl-2">
                <ul class="links-list">
                    <li><a href="/conocenos">Conócenos</a></li>
                    <li><a href="/ubicaciones">Ubicaciones</a></li>
                    <!-- <li><a href="#">Carrera en Zion</a></li>
                    <li><a href="#">Recursos</a></li>
                    <li><a href="#">Adquisiciones Recientes</a></li>
                    <li><a href="#">Atención a Clientes</a></li> -->
                </ul>
            </div>
            <div class="col-12 col-xl-1">
                <ul class="social-links">
                    <li><a href="#"><INIcon /></a></li>
                    <li><a href="#"><FBIcon /></a></li>
                    <li><a href="#"><XIcon /></a></li>
                    <li><a href="#"><YTIcon /></a></li>
                </ul>
            </div>
        </div>
    <!-- </div> -->
</footer>

<style lang="scss">
    .zion-footer-logo {
        margin-bottom: 30px;
        width: 200px;
    }

    ul {
        &.links-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 10px;
            }
        }

        &.social-links {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    a {
        color: var(--zion-cc-red);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 12px;
        line-height: normal;

        &:hover {
            color: var(--zion-cc-white);
        }
    }

    ul {
        li {
            font-size: 12px;
        }
    }
</style>