---
import SectionContent from "./SectionContent.astro";
import CTAButton from "./CTAButton.astro";
---

<SectionContent subTitle="Claro que podemos ayudarte" Title="Contáctenos" Reverse=true>
    <Fragment slot="SectionHTML">
        <p id="contacto">
            ¿Está interesado en aprender más sobre las soluciones de automatización de Zion Automation? Contáctenos hoy mismo para obtener más información
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga perspiciatis, distinctio blanditiis ut exercitationem beatae error. At, eos fugit reiciendis, voluptates aliquam velit vero voluptas animi beatae assumenda consectetur tempora!
        </p>

        <CTAButton ctaText="Forma de contacto" ctaLink="#" />
    </Fragment>
</SectionContent>