---
interface PROPS {
    defArray: Array<string>;
    inColumns?: boolean;
}
import Card from "./sub_components/Card.astro";

const {defArray, inColumns=false} = Astro.props as PROPS;
---

<section class="zion-cards-definition">
    <div class:list={["row", "cards-container", { "flex-column": inColumns }]}>
        {
            defArray.map( (val:string) => (
            <Card Title={ val[0] }>
                <Fragment slot="ContentCard">
                    <p>{ val[1] }</p>
                </Fragment>
            </Card>
            ))
        }
    </div>
</section>

<style lang="scss">
    .cards-container {
        padding: 0 60px 90px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;

        p {
            color: var(--zion-cc-white);

            @media screen and (width <= 1200px){
                font-size: 14px;
            }
        }
    }
</style>