---
interface PROPS {
    sunTitle?: string;
    Title: string;
    backImg?: string;
}
import NavBar from "../components/NavBar.astro";
import TextOnHeader from "../components/TextOnHeader.astro";
import ContactItems from "../components/ContactItems.astro";

const { subTitle, Title, backImg } = Astro.props;
---
<header class="inner-hero" style={{ backgroundImage: `url(${backImg})` }}>
    <NavBar />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-6">
                <TextOnHeader subTitle={subTitle} Title={Title} />
            </div>
        </div>
    </div>
    
    <ContactItems />
</header>

<style lang="scss">
    header {
        background-size: cover;
        background-position: center center;
    }
</style>