---
interface PROPS {
    subTitle?: string;
    Title: string;
    Reverse?: boolean;
    idBlock?: string;
    sideImg?: string;
}
import SectionTitles from './sub_components/SectionTitles.astro';

const { subTitle, Title, idBlock, sideImg, Reverse=false } = Astro.props as PROPS;
---

<section class="zion-section">
    {idBlock
    ?
        <div id={idBlock}></div>
    :
        ''
    }
    <div class="row">
        <div class:list={["col-12", "col-xl-6", "zion-image-block", { 'order-xl-last': Reverse }, { 'order-xl-first': !Reverse }]}>
            {sideImg
            ?
            <div class="zion-image-container simple-back" style={{ backgroundImage: `url(${sideImg})` }}></div>
            :
            <div class="zion-image-container"></div>
            }
        </div>
        <div class:list={["col-12", "col-xl-6", { 'order-xl-first': Reverse }, { 'order-xl-last': !Reverse }]}>
            <div class="content-section-text">
                <SectionTitles subTitle={subTitle} Title={Title} />

                <slot name="SectionHTML" />
            </div>
        </div>
    </div>
</section>
