---
interface PROPS {
    subTitle?: string;
    Title: string;
    Reverse?: boolean;
    idBlock?: string;
    sideImg?: string;
    Covered?: boolean;
}
import SectionTitles from './sub_components/SectionTitles.astro';

const { subTitle, Title, idBlock, sideImg="/assets/images/back_image.webp", Reverse=false, Covered=true } = Astro.props as PROPS;
const newClass:string = (Covered !== true) ? 'simple-back' : '';
---

<section class="zion-section">
    {idBlock
    ?
        <div id={idBlock}></div>
    :
        ''
    }
    <div class="row">
        <div class:list={["col-12", "col-xl-6", "zion-image-block", { 'order-xl-last': Reverse }, { 'order-xl-first': !Reverse }]}>
            <div class:list={["zion-image-container", newClass]} style={{ backgroundImage: `url(${sideImg})` }}></div>
        </div>
        <div class:list={["col-12", "col-xl-6", { 'order-xl-first': Reverse }, { 'order-xl-last': !Reverse }]}>
            <div class="content-section-text">
                <SectionTitles subTitle={subTitle} Title={Title} />

                <slot name="SectionHTML" />
            </div>
        </div>
    </div>
</section>
