---
import HeaderTitles from "./sub_components/HeaderTitles.astro";
const { subTitle, Title } = Astro.props;
---

<div class="text-on-header">
    <HeaderTitles subTitle={subTitle} Title={Title} />
</div>

<style lang="scss">
    .text-on-header {
        position: absolute;
        display: block;
        top: 50%;
        width: 35%;
        transform: translateY(-50%);

        @media screen and (width <= 1200px){
            width: 90%;
        }
    }
</style>