@use "astro-breadcrumbs/breadcrumbs.scss";

:root {
    // COLORS
    --zion-cc-red: #F62F42;
    --zion-cc-black: #131313;
    --zion-cc-gray: #72727D;
    --zion-cc-white: #ffffff;

    // FONTS
    --zion-ff-alumni: "Alumni Sans", sans-serif;
    --zion-ff-avenir: "Avenir Next", sans-serif;
    --zion-ff-georgia: "Georgia", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 300ms ease-in-out;
    font-family: var(--zion-ff-avenir);
}

.site-container {
    overflow: hidden;
}

h1, h2, h4 {
    font-family: var(--zion-ff-alumni);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;

    @media screen and (width <= 1200px){
        font-size: 40px;
    }
}

h6 {
    font-family: var(--zion-ff-avenir);
    letter-spacing: 3px;
    font-size: 10px;
    margin-bottom: 0;

    @media screen and (width <= 1200px){
        font-size: 10px;
        letter-spacing: 2px;
    }
}

header {
    display: block;
    position: relative;
    height: 100svh;
    width: 100%;
    max-height: 1080px;
    background-color: gray;
    background-image: url('/assets/images/backgrounds/back-home.jpg');
    background-size: cover;
    background-position: top center;

    &.inner-hero {
        max-height: 650px;
        background-color: #020202;

        h6 {
            color: var(--zion-cc-white);

            &::before {
                border-top-color: var(--zion-cc-white);
            }
        }
    }
}

.c-breadcrumbs {
    padding: 10px 30px;
    background-color: var(--zion-cc-red);
    
    ol {
        li {
            color: var(--zion-cc-white);

            &:not(:last-child):after {
                content: '\00BB';
            }
            a {
                text-transform: capitalize;
                color: var(--zion-cc-white);
                margin-right: 16px;
                font-size: 12px;
            }
        }
    }
}

section {
    position: relative;

    .zion-image-block {
        position: relative;
        min-height: 550px;

        @media screen and (width <= 1200px){
            min-height: 400px;
        }

        .zion-image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/assets/images/back_image.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &.contacto-back {
                background-image: url('/assets/images/contacto.jpg');
            }

            &.simple-back {
                background-size: cover;
            }
        }
    }

    &.ubicaciones-home {
        background-color: #010101;
        background-image: url('/assets/images/backgrounds/back-ubicaciones-resumen.jpg');
        background-position: left top;
        background-size: cover;
        color: white;
        padding: 60px;
        overflow: hidden;

        @media screen and (width <= 1200px) {
            padding: 60px 30px;
        }

        .ubicaciones-container {
            padding: 40px;
            
            @media screen and (width <= 1200px) {
                padding: 30px 20px;
            }

            h6 {
                color: var(--zion-cc-white);
            }

            h3 {
                font-family: var(--zion-ff-alumni);
                color: var(--zion-cc-white);
            }
    
            a.cta-button {
                background-color: var(--zion-cc-white) !important;
                color: var(--zion-cc-black) !important;

                &::before {
                    border-bottom: 17px solid var(--zion-cc-white) !important;
                    border-right: 10px solid var(--zion-cc-white) !important;
                }

                &::after {
                    border-top: 17px solid var(--zion-cc-white) !important;
                border-left: 10px solid var(--zion-cc-white) !important;
                }

                &:hover {
                    background-color: var(--zion-cc-red) !important;
                    color: var(--zion-cc-white) !important;
                    
                    &::before {
                        border-bottom-color: var(--zion-cc-red) !important;
                        border-right-color: var(--zion-cc-red) !important;
                    }
    
                    &::after {
                        border-top-color: var(--zion-cc-red) !important;
                        border-left-color: var(--zion-cc-red) !important;
                    }
                }
            }
        }
    }

    &.valores-section {
        background-color: var(--zion-cc-black);
        padding: 90px;
        color: var(--zion-cc-white);
        overflow: hidden;

        h3 {
            position: relative;
            z-index: 2;
            font-family: var(--zion-ff-alumni);
            color: var(--zion-cc-red);
            font-size: 40px;
            margin-bottom: 20px;
        }

        p {
            position: relative;
            z-index: 2;
            color: var(--zion-cc-white);
        }

        .blur-ball {
            position: absolute;
            width: 400px;
            height: 300px;
            display: block;
            top: -60px;
            left: -70px;
            background: var(--zion-cc-white);
            filter: blur(100px);
            opacity: 0.2;
        }
    }

    &.soluciones-home {
        background-color: #010101;
        background-image: url('/assets/images/backgrounds/back-soluciones-resumen.jpg');
        background-position: right top;
        background-size: cover;
        color: white;
        padding: 60px;
        overflow: hidden;

        @media screen and (width <= 1200px) {
            padding: 60px 30px;
        }

        h2 {
            color: var(--zion-cc-red);
            font-size: 40px;
        }

        p {
            & > small {
                font-size: 14px;
                line-height: 18px;
                color: var(--zion-cc-gray);
            }
        }

        .soluciones-contanier {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 40px;
            gap: 20px;
            flex-wrap: nowrap;

            @media screen and (width <= 1200px) {
                flex-wrap: wrap;
            }

            .solucion {
                width: 25%;
                
                @media screen and (width <= 1200px) {
                    width: 100%;
                }

                .title {
                    font-family: var(--zion-ff-alumni);
                    font-size: 26px;
                    color: var(--zion-cc-white);
                    margin: 10px 0;
                }

                p {
                    font-size: clamp(12px, 14px, 16px);
                    line-height: 18px;
                }
                
                .img-solution {
                    border: none;
                    display: block;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.internal-links {
        padding: 60px;
        position: relative;
        overflow: hidden;
        background-color: #010101;

        @media screen and (width <= 1200px) {
            padding: 60px 30px;
        }

        ul {
            list-style: none;
            columns: 3;
            padding: 0;
            margin: 0;
            position: relative;
            z-index: 2;

            @media screen and (width <= 1200px) {
                columns: 2;
            }

            li {
                margin-bottom: 20px;

                a{
                    text-decoration: none;
                    color: var(--zion-cc-white);
                    font-family: var(--zion-ff-avenir);
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 2px;
                    font-weight: 400;
                }
            }
        }

        .blur-ball {
            position: absolute;
            width: 400px;
            height: 200px;
            display: block;
            top: -100px;
            left: -140px;
            background: #ffffff;
            filter: blur(90px);
            opacity: 0.3;
        }
    }

    &.zion-wide-section {
        padding: 60px;
        background-color: #F5F5F5;

        @media screen and (width <= 1200px){
            padding: 60px 30px;
        }

        ul.logos {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            li {
                flex-basis: 20%;
                text-align: center;

                img {
                    max-width: 236px;
                    width: 100%;
                }

                @media screen and (width <= 1200px){
                    flex-basis: 40%;
                }
            }
        }
    }

    .content-section-text {
        padding: 120px 100px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (width <= 1200px){
            padding: 60px 30px;
            left: 0;
            transform: unset;
        }

        p {
            font-size: 16px;
            color: var(--zion-cc-gray);

            ul {
                li {
                    color: var(--zion-cc-gray);
                }
            }

            a {
                color: var(--zion-cc-red);
            }
        }
    }

    .positive-logo {
        margin: 40px auto 0;
        width: 250px;
        display: block;
    }

    .dark-section {
        position: relative;
        overflow: hidden;
        background-color: #010101;

        .blur-ball {
            position: absolute;
            width: 400px;
            height: 200px;
            display: block;
            top: -100px;
            left: -140px;
            background: #ffffff;
            filter: blur(90px);
            opacity: 0.3;
        }
    }
}

footer {
    background-color: var(--zion-cc-black);
    padding: 40px 60px;
    color: var(--zion-cc-white);

    @media screen and (width <= 1200px){
        padding: 40px 30px;
    }
}